# Add your Stripe payment links to .env.local:
NEXT_PUBLIC_STRIPE_CONSULTATION_30_URL=https://buy.stripe.com/bJe9AV0y03xCbe6cx408g07
NEXT_PUBLIC_STRIPE_CONSULTATION_60_URL=https://buy.stripe.com/bJe3cxcgId8c0zs9kS08g08
